{% extends "templates/base.html" %}

{% block "content" %}
<table border="1" width="100%">
    <tr>
        <td rowspan="2" valign="top">
            <h2>{{ project }}</h2>
            <p>{{ project.description }}</p>
            <p>Tasks</p>
            <hr/>
            <table border="1" width="100%">
                <tr>
                    <td>
                    {% for task in tasks %}
                        <p>
                            <a href="/tasks/{{ task.id }}/">{{ task }}</a><br/><small>{{ task.created_at }} (duración: {{ task.duration }} horas)</small>
                            
                        </p>
                    {% endfor %}
                    </td>
                    <td width="200">
                        Filters:
                        <ul>
                            <li><a href="">Upcoming</a></li>
                            <li><a href="">Closed</a></li>
                            <li><a href="">Assigned by me</a></li>
                            <li><a href="">Assigned to me</a></li>
                            <li>
                                Assigned to: <select>
                                {% for person in project.people.all %}
                                    <option>{{ person }}</option>
                                {% endfor %}
                                </select>
                            </li>
                            <li>
                                By milestone: <select>
                                {% for milestone in milestones %}
                                    <option>{{ milestone }}</option>
                                {% endfor %}
                                </select>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
        <td width="200">
        Milestones:        
        {% for milestone in milestones %}
            <p><a href="/milestones/{{ milestone.id }}/">{{ milestone }}</a></p>
        {% endfor %}
        </td>
    </tr>
    <tr>
        <td>
            <h4>Managers</h4>
            {% for person in project.managers.all %}
            {{ person }}
            {% endfor %}
            <h4>Team</h4>
            {% for person in project.people.all %}
            {{ person }}
            {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}
