{% extends "templates/base.html" %}

{% block "content" %}
<h1>{{ task }} <small>re: <a href="/projects/{{ task.milestone.project.id }}/">{{ task.milestone.project }}</a></small></h1>
<hr/>
{{ task.description }}
<hr/>
<div class="meta">
    <p><b>Created on:</b> {{ task.created_at }}<br/>
    <b>Duration:</b> {{ task.duration }} horas<br/>
    <b>Assigned to:</b> {{ task.users.all|join:"," }}</p>
</div>

<p><strong>Changes:</strong></p>
{% for change in changes %}
<div style="border:solid 1px #CCC; margin-bottom:10px;">
<p>{{ change.user }} el {{ change.created_at|date:"j F Y H:i" }}:</p>
<ul>
    {% for field in change.fields %}
        <li><b>{{ field.label }}</b> <em>{{ field.old }}</em> to <em>{{ field.new }}</em></li>
    {% endfor %}
</ul>
<pre>{{ change.comment }}</pre>
</div>
{% endfor %}
<form method="post" action="" style="background-color:#CCC;">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" />
</form>


{% endblock %}
